# Ignore virtual environments
venv/
.venv/
env/

# Ignore IDE configurations
.vscode/
.idea/

# Ignore log files
*.log

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore node_modules
node_modules/
